:root{
    --color:rgb(164, 184, 250); 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    
}
.bround img{
    height: 100vh;
    width: 98.8vw;
    object-fit: cover;
    position: relative;
}

nav {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.183); */
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    /* color: rgb(221, 107, 107); */
    color: white;
    letter-spacing: 6px;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }



.right ul {
    display: flex;
}

.right ul li {
    list-style-type: none;
    padding: 20px;
    font-size: 22px;

}

.right ul li a {
    text-decoration: none;
    color: white;

}

.right ul li a:hover {
    cursor: pointer;
    color: --color;
    /* text-decoration: underline; */
}

.right ul li:hover {

    transform: scale(109%);
}

.right ul li {

    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

nav .fa-solid{
    display: none;
}

@media screen and (max-width:431px){
    .portfolio-title{
        margin-top: 70px;
        margin-left: 350px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
        
    }
    nav ul{
        background: rgb(221, 107, 107);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 50px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        transition: right 0.8s;
    }
    /* nav ul li{
        display: block;
        margin: 20px;
    } */
    nav ul .fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav .fa-bars{
        position: absolute;
        right: -340px;
    }
}